.button {
    -fx-background-color:  #4285f4;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
    -fx-text-fill: #fff;
    -fx-border-width: 1px;
    -fx-border-color: #fff;
}

.button:hover{
    -fx-background-color: #00099b;
}

.button:pressed{
    -fx-background-color: #0009b7;
}

#MainMenu{
    -fx-background-image: url("images/background.png");
    -fx-background-size: cover;
}


.logoLabel{
    -fx-font-size: 37px;
    -fx-font-family: "Arial Black";
}
